# GilaElectromagnetics temporary files, e.g. previously computed Fourier information
tmp/
# ignore latex generation files
docs/*.aux
docs/*.bbl
docs/*.blg
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.gz
docs/*Notes.bib
# personal task list file
todo.jl

# Documenter
docs/build/
docs/site/

# MacOS
.DS_Store

# Benchmark data
benchmark/*.jld2
benchmark/*.png
benchmark/results/

# Profiling
statprof

# It is not recommended to push the fixed state that is associated with saving a
# Manifest.toml file. In addition, this breaks the docs CI.
Manifest.toml

# Code coverage (run ] test --coverage)
*.jl.cov
*.jl.*.cov
